<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>mon 1 </title>
</head>
<button class="but"><a href="/">home</a></button>
<button class="but"><a href="/compose">compose</a></button>
<button class="but"><a href="/display">display</a></button>

<body>
    