<%- include("partials/header"); -%>

<p>compose</p>

<form action="/compose" method="post">
<input type="text" name="testQuestion"><br>
<input type="text" name="testAnswer"><br>
<button class="ut1" type="submit">+++</button>



</form>

<%- include("partials/footer"); -%>

