* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
    text-align:center;
}
.but {
    width: 80px;
    height: 40px;
    border: 1px solid wheat;
    border-radius: 7px;
    background: linear-gradient(to top,rgb(206, 168, 206),rgb(160, 190, 160));
}
a {
    text-decoration-line: none;
}